.blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 15rem;
  width: 16%;
  margin: 0 auto;
}

.block {
  width: 10px;
  height: 10px;
  padding: .8rem 1rem 1rem 1rem;
  background-color:#2A5598;
  color: #fff;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
}